annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
colorama==0.4.6
coverage==7.16.2
fastapi==0.143.0
idna==3.20
iniconfig==2.3.1
opentelemetry-api==1.45.1
packaging==26.3
pluggy==1.6.0
pydantic==2.14.0
pydantic_core==2.50.0
Pygments==2.21.0
pytest==9.1.1
pytest-cov==7.1.0
SQLAlchemy==2.1.4
starlette==1.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
